In [1]:
import pandas as pd

# create a simple dataset of people
data = { 'Name': [ "John", "Anna", "Peter", "Linda"], 
          'Location': [ "New York", "Paris", "Berlin", "London"],
          'Age': [ 24, 13, 52, 33]
       }

data_pandas = pd.DataFrame(data)

display(data_pandas)

    Name  Location  Age
0   John  New York   24
1   Anna     Paris   13
2  Peter    Berlin   52
3  Linda    London   33

In [2]:
display(data_pandas[data_pandas.Age > 30])

    Name Location  Age
2  Peter   Berlin   52
3  Linda   London   33

In [3]:
display("your mama")

'your mama'